@font-face {
    font-family: CalSans;
    src: url(CalSans-Regular.ttf);
}

body {
    background-color: #ffcb70;
}

#clickbutton {
    font-family: CalSans;
    position: absolute;
    width: 200px; 
    height: 60px;
    padding: 15px;
    font-size: 20px;
}

#Clicks {
    font-family: CalSans;
    
}